# Custom
actions-yml
postgres-data

# Node.js
node_modules/
npm-debug.log*

# Environment files
.env
.env.*

# Logs
*.log
logs/

# Editor settings
.vscode/
.idea/

# Build outputs
app-ui/dist/
app-backend/dist/

# Docker
*.local
.dockerignore
docker-compose.override.yml
